In [1]:
"""
날짜 : 2023/01/10
이름 : 김동근
내용 : Python 함수 실습
"""

'\n날짜 : 2023/01/10\n이름 : 김동근\n내용 : Python 함수 실습\n'

In [4]:
# 함수
def f (x):
    y = 2* x + 3
    return y

y1 = f(1)
y2 = f(2)
y3 = f(3)

print('y1 :', y1)
print('y2 :', y2)
print('y3 :', y3)

y1 : 5
y2 : 7
y3 : 9

In [12]:
# 함수타입
def type1(x, y):
    z = x+y
    return z
def type2(dataset):
    tot = 0
    for data in dataset:
        tot += data
    print('dataset 합 :', tot)

def type3():
    dataset = [n for n in range(11)]
    tot = 0
    for k in dataset:
        tot += k
    return tot

r1 = type1(3, 4)
r2 = type1('hello', 'tot')
print('r1 :', r1)
print('r2 :', r2)

r3 = type2([1,2,5,6,7,8])

r4 = type3()
print('r4 :', r4)

r1 : 7
r2 : hellotot
dataset 합 : 29
r4 : 55

In [17]:
# 디폴트 매개변수
def hello(name='홍길동', age=20):
    print('name :', name)
    print('age :', age)

hello()
hello('깅뮤신')
hello('김유신', 21)

name : 홍길동
age : 20
name : 깅뮤신
age : 20
name : 김유신
age : 21

In [20]:
def total(*item):
    tot = 0

    for i in item:
        tot += i
    return tot


r1 = total(1)
r2 = total(1, 2)
r3 = total(1, 2, 3)
r4 = total(1, 2, 3, 4)
r5 = total(1, 2, 3, 4, 5)
r6 = total(1, 2, 3, 4, 5, 6)

print('r1 :', r1)
print('r2 :', r2)
print('r3 :', r3)
print('r4 :', r4)
print('r5 :', r5)
print('r6 :', r6)

r1 : 1
r2 : 3
r3 : 6
r4 : 10
r5 : 15
r6 : 21

In [22]:
#하나 이상의 리턴값을 갖는 함수

def sumMulti(x, y):
    y1 = x + y
    y2 = x * y
    return y1, y2

r1, r2 = sumMulti(3,5)
print('r1 :', r1)
print('r2 :', r2)

r1 : 8
r2 : 15

In [23]:
#변수에 저장하는 함수
def plus(x,y):
    return x+y
def minus(x,y):
    return x-y

var1 = plus
var2 = minus

r1 = var1(1,2)
r2 = var2(1,2)

print('r1 :', r1)
print('r2 :', r2)

r1 : 3
r2 : -1

In [24]:
# 람다함수
lamb1 = lambda x, y: x + y
lamb2 = lambda x, y: x - y

r1 = lamb1(1,2)
r2 = lamb2(1,2)

print('r1 :', r1)
print('r2 :', r2)

r1 : 3
r2 : -1